body{
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #2E2F42;
    font-size: 14px;
}
.web-logo{
    color:#4D5AE5;
    
}

ul{
    list-style-type: none;
}
button{
    font-family: "Roboto", sans-serif;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.66;
  
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.nav-link:hover, .nav-link:focus{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404BBF;
}
a{
text-decoration: none;

}
.hero-section{
    background-color: #2E2F42;
}
h1{
        color: #FFFFFF;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
}
.button-primary{
        border-radius: 4px;
        background-color:#4D5AE5;
        border:none;
        cursor: pointer;
        padding: 16px 32px;    
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        
}
.target-title{
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.target-text{
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#434455;
}
.team-section{
    background-color: #F4F4FD;
}
h2{

        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
.teammate{
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.job-pos{
        color:#434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.portfolio-pic{
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
}
.portfolio-des{
        color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.footer-logo{
        font-family: "Raleway", sans-serif;
        color: #F4F4FD;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.66;
    
        text-transform: uppercase;
        letter-spacing: 0.03em;
}
.footer-web-logo{
    color: #4D5AE5;
}
footer{
    background-color: #2E2F42;
}
.footer-des{
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}
.contact-info a{
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.contact-info a:hover, .contact-info a:focus {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404BBF;
}